@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Manrope', sans-serif;
    background: #212121;
    color: #959595;
    font-weight: 600px;
    font-size: 20px;
}

.burger-menu {
    display: none;
}

a{
    color: #DEDEDE;
    text-decoration: none;
    transition: opacity 300ms ease;
}

a:hover {
    opacity: 0.6;
}

.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.header {
    padding: 20px 0;
    background: rgba(50, 50, 50, 0.7);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_nav {
    display: flex;
    gap: 60px;
}

.header_link {
    font-size: 18px;
    font-weight: 700;
}

.welcomme .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcomme {
    margin-top: 160px
}

.welcomme_title {
    color: #DEDEDE;
    width: 500px;
    font-size: 54px;
    letter-spacing: -0.5px;
    margin: 0;
}

.welcomme_text {
    width: 410px;
    font-size: 20px;
    color: #959595;
    padding-top: 24px;
}
.btn{
    padding: 16px 48px;
    background: #9D9D9D;
    display: inline-block;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 88px;
}

.btn::before {
    content: "";
    background-image: url("images/mail.svg");
    width: 21px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.welcomme_img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-right: 105px;
}


.works {
    padding-top: 140px;
}

.works_btn {
    font-family: 'Monrope', sans-serif;
    letter-spacing: 1.5px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    gap: 20px;
    color: #DEDEDE;
    margin-bottom: 80px;
    opacity: 0.7;
}

.works_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding-top: 140px;
}

.work {
    height: 888px;
    position: relative;
}

.work:nth-child(odd) {
    top: -140px;
}

.work:hover {
    opacity: 1;
}

.works_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.works_name {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 300ms ease;
}

.work:hover .works_name {
    opacity: 1;
}

.projects {
    margin-top: 240px;
}

.projects_title {
    font-weight: 700;
    font-size: 36px;
    color: #DEDEDE;
    text-align: center;
    margin-bottom: 65px;
}

.projects_wrapper {
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.products_img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.personal {
    margin-top: 240px;
}

.peronal_title {
    margin-bottom: 65px;
    font-size: 36px;
    font-weight: 700;
    color: #DEDEDE;
    text-align: center;
}

.personal_wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.personal_img {
    width: 400px;
    height: 560px;
    object-fit: cover;
    object-position: center;
}

.contact {
    text-align: center;
    margin-top: 240px;
}

.contact .container {
    max-width: 520px;
    text-align: center;
}

.contact_title {
    margin-bottom: 24px;
    color: #DEDEDE;
    font-size: 36px;
}

.contact_text {
    width: 520px;
    margin: 0px auto 48px auto;
    font-size: 26px;
}

.btn {

}

.contact_btn {
    margin: 0px 0px 125px 0px;
}

.footer {
    border-top: 2px solid #696969;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 35px 15px;
}

.name {
    color: #ECECEC;
}

.by {
    font-size: 16px;
    font-weight: 600;
}

.socials {
    display: flex;
    gap: 40px;
}

.socials_link {
    display: flex;
}

@media (max-width: 1100px) {
    .welcomme_img {
        margin-right: 0px;
    }
}

@media (max-width: 950px) {
    .welcomme .container {
        flex-direction: column-reverse;
        gap: 65px;
        
    }

    .welcomme {
        margin-top: 70px;
    }

    .welcomme_title {
        width: auto;
    }

    .welcomme_text {
        width: auto;
        margin-bottom: 50px;
    }

    .welcomme_desc {
        text-align: center;
    }

    .work {
        height: 600px;
    }
    
}

@media(max-width: 900px) {
    .works_name {
        opacity: 1;
    }
}

@media (max-width: 850px) {
    .works, .projects, .personal, .contact {
        margin-top: 100px;
    }

    .works {
        padding-top: 0;
    }
}

@media (max-width: 770px) {
    .welcomme_title {
        font-size: 36px;
    }
}

@media (max-width: 700px) {
    .footer .container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
    }
}

@media (max-width: 650px) {
    .products_img {
        width: 100%;
        height: 360px;
    }

    .works_wrapper {
        grid-template-columns: 1fr;
        padding-top: 0;
    }

    .work:nth-child(odd) {
        top: 0px;
    }

    .personal_img {
        width: 100%;
    }
}

@media(max-width: 550px) {
    .contact_text { 
        max-width: 270px;
        font-size: 18px;
        font-weight: 500;
    }
}

@media (max-width: 500px) {
    .header_nav {
        display: none;
    }

    .welcomme_img {
        width: 240px;
        height: 240px;
    }

    .welcomme_btn {
        padding: 16px 22px;
        margin-top: 0;
    }

    .works_btn {
        margin-bottom: 40px;
    }

    .works_name {
        font-size: 24px;
    }

    .contact_title, .projects_title, .peronal_title {
        font-size: 28px;
    }

    .contact_title {
        margin-bottom: 12px;
    }

    .contact {
        margin-bottom: 100px;
    }

    .header {
        position: relative;
    }

    .burger-menu {
        display: block;
        background-color: transparent;
        border: none;
    }
    
    .burger {
        width: 24px;
        width: 30px;
        object-fit: contain;
        object-position: center;
        position: absolute;
        top: 29px;
        right: 15px;
    }

    .header.header-mobile .header_nav {
        display: flex;
    }

    .header.header-mobile .container {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .header_nav {
        display: none;
    }
}

@media (max-width: 430px) {
    .welcomme_title {
        font-size: 30px;
    }

    .welcomme_text {
        font-size: 16px;
    }
} 